/* CSS declarations go here */
body {
  font-family: sans-serif;
  background-color: #4a4a4a;
  background-image: linear-gradient(to bottom, #000000, #454545 100%);
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
  color:white;

}

.container {
  max-width: 95%;
  margin: 0 auto;
  min-height: 100%;
  /*background: white;*/
}
.soundblock{
  margin: 10px 5px 10px 5px;
  padding: 11px;
  border-radius: 12px;
  background:rgba(0, 65, 89, 0.48);
}

.sbon{
  background:rgba(56, 193, 0, 0.98);
}

header {
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 20px 15px 15px 15px;
  position: relative;
}

h1 {
  margin-bottom: 10px;
  display: inline-block;
}

.center{
  margin: 0 auto;
  text-align: center;
}
.sl {
  width:210px;
  height:210px;
  z-index:-1;
  position:absolute;


  border-radius: 60%;
}

#sl1{
    top:250px;
    left:250px;
    background-color:rgba(54, 233, 109, 0.4);
    animation-name:sl1;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

#sl2{
  top:100px;
  left:300px;
  background-color: rgba(199, 67, 67, 0.40);
  animation-name:sl2;
  animation-duration: 21s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

#sl3{
  top:250px;
  right:250px;
    background-color: rgba(199, 186, 67, 0.40);
    animation-name:sl3;
    animation-duration: 26s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

#sl4{
  top:600px;
  left:900px;
    background-color: rgba(135, 75, 189, 0.40);
    animation-name:sl4;
    animation-duration: 19s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

#sl5{
  top:300px;
  left:60px;
  background-color: rgba(103, 104, 228, 0.40);
  animation-name:sl5;
  animation-duration: 17s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes sl1 {
  0%   { left:100px; top:100px;}
  14%  { left:400px; top:0px;}
  31%  { left:800px; top:100px;}
  46%  { left:400px; top:300px;}
  59%  { left:30px; top:20px;}
  75%  { left:100px; top:400px;}
  89%  {left:400px; top:300px;}
  100% {left:100px; top:200px;}
}
@keyframes sl2 {
  0%   { left: 830px; top:100px;}
  13%  { left:700px; top:430px;}
  30%  { left:600px; top:100px;}
  44%  { left:800px; top:200px;}
  61%  { left:910px; top:310px;}
  77%  { left:1020px; top:400px;}
  88%  {left:880px; top:100px;}
  100% {left:690px; top:300px;}
}
@keyframes sl3 {
  0%   { left:200px; top:200px;}
  15%  { left:400px; top:400px;}
  30%  { left:800px; top:300px;}
  45%  { left:400px; top:300px;}
  60%  { left:180px; top:210px;}
  75%  { left:390px; top:400px;}
  90%  {left:520px; top:400px;}
  100% {left:700px; top:190px;}
}
@keyframes sl4 {
  0%   { left:300px; top:300px;}
  15%  { left:500px; top:0px;}
  30%  { left:700px; top:100px;}
  45%  { left:900px; top: 40px;}
  60%  { left:800px; top:200px;}
  75%  { left:700px; top:300px;}
  90%  {left:800px; top:100px;}
  100% {left:650px; top:250px;}
}
@keyframes sl5 {
  0%   { left:700px; top:250px;}
  15%  { left:500px; top:20px;}
  30%  { left:300px; top:180px;}
  45%  { left:480px; top:300px;}
  60%  { left:600px; top:400px;}
  75%  { left:800px; top:100px;}
  90%  {left:600px; top:300px;}
  100% {left:490px; top:150px;}
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}
